<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ChukushenqingMapper">
  <resultMap id="BaseResultMap" type="com.entity.Chukushenqing">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="bianhao" jdbcType="VARCHAR" property="bianhao" />    <result column="shebeimingcheng" jdbcType="VARCHAR" property="shebeimingcheng" />    <result column="shenqingshuliang" jdbcType="VARCHAR" property="shenqingshuliang" />    <result column="shenqingyuanyin" jdbcType="VARCHAR" property="shenqingyuanyin" />    <result column="shenqingren" jdbcType="VARCHAR" property="shenqingren" />    <result column="issh" jdbcType="VARCHAR" property="issh" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bianhao,shebeimingcheng,shenqingshuliang,shenqingyuanyin,shenqingren,issh, addtime
  </sql>
  <select id="quchongChukushenqing"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from chukushenqing 
    where shenqingren = #{shenqingren,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from chukushenqing  where 1=1
    <if test="bianhao!=null">and bianhao like  concat('%',#{bianhao,jdbcType=VARCHAR},'%')</if>     <if test="shebeimingcheng!=null">and shebeimingcheng like  concat('%',#{shebeimingcheng,jdbcType=VARCHAR},'%')</if>     <if test="shenqingshuliang1!=null">and shenqingshuliang &gt;=  concat('',#{shenqingshuliang1,jdbcType=VARCHAR},'')</if>     <if test="shenqingshuliang2!=null">and shenqingshuliang &lt;=  concat('',#{shenqingshuliang2,jdbcType=VARCHAR},'')</if>     <if test="shenqingyuanyin!=null">and shenqingyuanyin like  concat('%',#{shenqingyuanyin,jdbcType=VARCHAR},'%')</if>     <if test="shenqingren!=null">and shenqingren like  concat('%',#{shenqingren,jdbcType=VARCHAR},'%')</if>     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from chukushenqing  where 1=1
    <if test="shenqingren!=null">
    and shenqingren =#{shenqingren}
    </if>
  </select>
  
  <select id="getsychukushenqing1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from chukushenqing  where 1=1
    limit 0,5
  </select>
  <select id="getsychukushenqing2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from chukushenqing  where 1=1
    limit 0,5
  </select>
  <select id="getsychukushenqing3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from chukushenqing  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from chukushenqing where 1=1 
     <if test="bianhao!=null">and bianhao like  concat('%',#{bianhao,jdbcType=VARCHAR},'%')</if>     <if test="shebeimingcheng!=null">and shebeimingcheng like  concat('%',#{shebeimingcheng,jdbcType=VARCHAR},'%')</if>     <if test="shenqingshuliang1!=null">and shenqingshuliang &gt;=  concat('',#{shenqingshuliang1,jdbcType=VARCHAR},'')</if>     <if test="shenqingshuliang2!=null">and shenqingshuliang &lt;=  concat('',#{shenqingshuliang2,jdbcType=VARCHAR},'')</if>     <if test="shenqingyuanyin!=null">and shenqingyuanyin like  concat('%',#{shenqingyuanyin,jdbcType=VARCHAR},'%')</if>     <if test="shenqingren!=null">and shenqingren like  concat('%',#{shenqingren,jdbcType=VARCHAR},'%')</if>     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chukushenqing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chukushenqing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Chukushenqing">
    insert into chukushenqing (id, bianhao,shebeimingcheng,shenqingshuliang,shenqingyuanyin,shenqingren, addtime)
    values (#{id,jdbcType=INTEGER}, #{bianhao,jdbcType=VARCHAR},#{shebeimingcheng,jdbcType=VARCHAR},#{shenqingshuliang,jdbcType=VARCHAR},#{shenqingyuanyin,jdbcType=VARCHAR},#{shenqingren,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Chukushenqing">
    insert into chukushenqing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bianhao != null"> bianhao, </if>      <if test="shebeimingcheng != null"> shebeimingcheng, </if>      <if test="shenqingshuliang != null"> shenqingshuliang, </if>      <if test="shenqingyuanyin != null"> shenqingyuanyin, </if>      <if test="shenqingren != null"> shenqingren, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bianhao != null"> #{bianhao,jdbcType=VARCHAR},</if>      <if test="shebeimingcheng != null"> #{shebeimingcheng,jdbcType=VARCHAR},</if>      <if test="shenqingshuliang != null"> #{shenqingshuliang,jdbcType=VARCHAR},</if>      <if test="shenqingyuanyin != null"> #{shenqingyuanyin,jdbcType=VARCHAR},</if>      <if test="shenqingren != null"> #{shenqingren,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Chukushenqing">
    update chukushenqing
    <set>
	  <if test="bianhao != null"> bianhao = #{bianhao,jdbcType=VARCHAR},</if>      <if test="shebeimingcheng != null"> shebeimingcheng = #{shebeimingcheng,jdbcType=VARCHAR},</if>      <if test="shenqingshuliang != null"> shenqingshuliang = #{shenqingshuliang,jdbcType=VARCHAR},</if>      <if test="shenqingyuanyin != null"> shenqingyuanyin = #{shenqingyuanyin,jdbcType=VARCHAR},</if>      <if test="shenqingren != null"> shenqingren = #{shenqingren,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Chukushenqing">
    update chukushenqing
    set bianhao = #{bianhao,jdbcType=VARCHAR},shebeimingcheng = #{shebeimingcheng,jdbcType=VARCHAR},shenqingshuliang = #{shenqingshuliang,jdbcType=VARCHAR},shenqingyuanyin = #{shenqingyuanyin,jdbcType=VARCHAR},shenqingren = #{shenqingren,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
