<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"D:\add\org\apache\ibatis\builder\xml\mybatis-3-config.dtd">
<configuration>

   <mappers>
   <mapper  resource="com/mapper/AllusersMapper.xml"/>
   <mapper  resource="com/mapper/YonghuzhuceMapper.xml"/>
   <mapper  resource="com/mapper/XinwentongzhiMapper.xml"/>
   <mapper  resource="com/mapper/PinglunMapper.xml"/>
   <mapper  resource="com/mapper/ShoucangjiluMapper.xml"/>
   <mapper  resource="com/mapper/LiuyanbanMapper.xml"/>
   <mapper  resource="com/mapper/YouqinglianjieMapper.xml"/>
   <mapper  resource="com/mapper/ShebeiguanliMapper.xml"/>
   <mapper  resource="com/mapper/BumenguanliMapper.xml"/>
   <mapper  resource="com/mapper/ShebeishenqingMapper.xml"/>
   <mapper  resource="com/mapper/WeixiushenqingMapper.xml"/>
   <mapper  resource="com/mapper/ShengdiaobuMapper.xml"/>
   <mapper  resource="com/mapper/WuzibuMapper.xml"/>
   <mapper  resource="com/mapper/HetongshengchengMapper.xml"/>
   <mapper  resource="com/mapper/FapiaoguanliMapper.xml"/>
   <mapper  resource="com/mapper/ShebeirukuMapper.xml"/>
   <mapper  resource="com/mapper/WeixiubaogaoMapper.xml"/>
   <mapper  resource="com/mapper/ChukushenqingMapper.xml"/>
   <mapper  resource="com/mapper/ShebeichukuMapper.xml"/>
   <mapper  resource="com/mapper/BaofeishenqingMapper.xml"/>
   <mapper  resource="com/mapper/ShebeiyunxingMapper.xml"/>
   <mapper  resource="com/mapper/Shebeiyunxing1Mapper.xml"/>
   <mapper  resource="com/mapper/Shebeiyunxing2Mapper.xml"/>
   <mapper  resource="com/mapper/Shebeiyunxing3Mapper.xml"/>
   <mapper  resource="com/mapper/JianyijihuaMapper.xml"/>
   <mapper  resource="com/mapper/JishuxieyiMapper.xml"/>
   <mapper  resource="com/mapper/WeijianjihuaMapper.xml"/> 
   <mapper  resource="com/mapper/Weijianjihua1Mapper.xml"/> 
   </mappers>

</configuration>
